@import "../../../styles/usable/usable.scss";

.top,
.items,
.item {
    display: flex;
    align-items: center;
}

.top {
    margin: 0 0 64px 0;
    flex-wrap: wrap;
    gap: 50px;
    @include mobile {
        gap: 20px;
    }
    h2 {
        margin: 0;
        @include transition;
        font-size: 32px;
        cursor: pointer;
        opacity: 0.5;
        @include mobile {
            font-size: 24px;
        }
    }
}

.items {
    flex-wrap: wrap;
    gap: 40px;
    &:not(:last-child) {
        margin: 0 0 40px 0;
    }
    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
    }
    @media (max-width: 374px) {
        grid-template-columns: 1fr 1fr;
    }
}

.item {
    flex-direction: column;
    .icon {
        position: relative;
        .knowledge {
            position: absolute;
            top: -6px;
            right: -7px;
            width: 20px;
            height: 20px;
            @include br50;
            background-color: $green;
            &.good {
                background-color: $yellow;
            }
            &.bad {
                background-color: $red;
            }
        }
        margin: 0 0 12px 0;
    }
}
