@import "../../../../styles/usable/usable.scss";

.contact {
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.contactItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 505px;
    @include break-desk {
        width: 100%;
    }
}

.img {
    position: relative;
    width: 500px;
    height: 900px;
    @include break-desk {
        display: none;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        height: 900px;
        object-fit: scale-down;
        @include break-desk-big {
            right: -100px;
        }
    }
}

.status {
    display: flex;
    align-items: center;
    .statusImg {
        overflow: hidden;
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
        @include rounded-full;
        margin: 0 15px 0 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .row {
        display: flex;
        gap: 10px;
        @include break-mobile {
            flex-direction: column;
        }
    }
    input,
    button {
        font-family: inherit;
        font-size: inherit;
        min-height: 64px;
        width: 100%;
    }
    input {
        background-color: $darkGray;
        @include rounded-main;
        color: rgba(255, 255, 255, 0.67);
        padding: 20px;
        outline: 0;
    }
    button {
        color: inherit;
    }
}

.alternativeText {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 15px 0;
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #2d2d2d;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
}

.alternativeItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
