@import "../../styles/usable/usable.scss";

.header,
.content {
    display: flex;
    align-items: center;
}

.header {
    @include transition;
    width: 100%;
    position: fixed;
    padding: 20px;
    z-index: 100;
    justify-content: space-between;
    backdrop-filter: blur(0px);
    height: 100vh;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    &.active {
        opacity: 1;
        pointer-events: all;
        backdrop-filter: blur(15px);
        ~ .burgerButton {
            span {
                &:first-child {
                    transform: rotate(45deg);
                    top: 6px;
                }
                &:nth-child(2) {
                    width: 0;
                }
                &:last-child {
                    top: -6px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.content {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.navigation {
    width: 100%;
    padding: 50px 0 0 0;
}

.navigationItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    li {
        @include rounded-main;
        @include transition;
        position: relative;
        width: fit-content;
        overflow: hidden;
        padding: 10px;
        cursor: pointer;
        min-height: 42px;
        white-space: nowrap;
        &:hover {
            opacity: 0.6;
        }
        a {
            display: flex;
        }
    }
}

.burgerButton {
    @include rounded-full;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    z-index: 500;
    span {
        @include rounded-main;
        @include transition;
        position: relative;
        top: 0;
        width: 20px;
        height: 3px;
        background-color: $darkBg;
    }
}

.time {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    svg {
        margin: 0 10px 0 0;
    }
}
