@mixin rounded-full {
    border-radius: 100vh;
}

@mixin rounded-main {
    border-radius: 8px;
}

@mixin text-shadow {
    filter: drop-shadow(6px 4px 31px rgba(255, 255, 255, 0.44));
}

@mixin transition {
    transition: all ease 0.6s;
}

@mixin break-desk-big {
    @media (max-width: 1320px) {
        @content;
    }
}

@mixin break-desk {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin break-mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin font-main {
    font-family: "Russo One", sans-serif;
}
