@mixin br50 {
    border-radius: 50%;
}

@mixin br8px {
    border-radius: 8px;
}

@mixin textShadow {
    filter: drop-shadow(6px 4px 31px rgba(255, 255, 255, 0.44));
}

@mixin transition {
    transition: all ease 0.6s;
}

@mixin desk1320px {
    @media (max-width: 1320px) {
        @content;
    }
}

@mixin desk1024px {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mainFont {
    font-family: "Russo One", sans-serif;
}
