@import '../../styles/usable/usable.scss';

.footer {
    background-color: $darkBg;
    min-height: 150px;
    padding: 64px 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    li {
        @include transition;
        &:hover {
            opacity: .6;
        }
    }
}