@import '../../styles/usable/usable.scss';

.footer {
    background-color: $darkBg;
    min-height: 150px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include mobile {
        flex-direction: column;
        padding: 32px 0;
    }
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    li {
        @include transition;
        &:hover {
            opacity: .6;
        }
    }
}