@import "../../../../styles/usable/usable.scss";

.about {
    overflow: hidden;
}

.content {
    position: relative;
}

.info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 542px;
    height: 717px;
    @include break-desk {
        display: none;
    }
    img {
        position: absolute;
        top: 0;
        left: -130px;
        width: 542px;
        height: 717px;
        object-fit: scale-down;
        @include break-desk-big {
            left: -30px;
        }
    }
}

.text {
    width: 680px;
    line-height: 130%;
    @include break-desk-big {
        width: 400px;
    }
    @include break-desk {
        width: 100%;
    }
}
