@import '../../styles/usable/usable.scss';

.button {
    width: 100%;
    height: 40px;
    background-color: $darkBlue;
    cursor: pointer;
    color: $white;
    font-size: inherit;
    @include br8px;
    @include mainFont;
    @include transition;
    &:hover {
        opacity: .6;
    }
}